/* ---------------------------------------------------------------------
BASE -------------------------------------------------------------------
(Wherever this element is on the page, it should look like this)
--------------------------------------------------------------------- */

body {
  background: $color-lightest;
  font-size: 100%;
  @include font-stack($font-primary,400,normal);
  color: #222;
  -webkit-font-smoothing: antialiased;
}

a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  color: green;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}


/* ------------------------------------ 
Typography (Base) ---------------------
------------------------------------ */

h1,h2,h3,h4,h5,h6 {
  @include font-stack($font-primary,700,normal);
}

h1 {
  font-size: 3.125em; 
  padding-bottom: 0.5em;
}

h2 {
  font-size: 2.500em;
  padding-bottom: 0.5em;
}

h3 {
  font-size: 1.875em;
  padding-bottom: 0.5em;
}

h4, h5, h6 {
  font-size: 1.250em;
  padding-bottom: 0.5em;
}

p {
  padding-bottom: $gutter;
  max-width: 800px;
}

blockquote {
  background: #eee;
  padding: 15px;
  margin-bottom: $gutter;
}

cite {
  display: block;
  text-align: right;
  font-style: italic;
  font-size: 0.875em;
  margin-bottom: $gutter;
}

hr {
  height:1px;
  width:100%;
  background-color:$color-gray-light;
  margin-bottom:$gutter;
}


/*------------------------------------
Forms (Base) -------------------------
----------------------------------- */

form {
  margin-bottom: $gutter;
}

label {
  padding-bottom: 10px;
}

form {
  margin-bottom: 0;
}

label {
  padding-bottom: 3px;
  display:block;
  @include font-size(14);
  @include font-stack($font-primary);
  @include single-transition(all,0.3s);
}

input {
  margin-bottom: $gutter;
  @include font-size(16);
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"] {
  line-height: 1.2;
  @include font-size(16);
  width: 100%;
  max-width:500px;
  border: none;
  padding: 13px 20px 13px;
  background-color: $color-gray-light;
  border-radius:0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  @include single-transition(all,0.3s);
  @include mq(bpxs) {
    @include font-size(14);
    padding: 10px 11px 9px;
  }

}

input[type="number"] {
  width:100px;
}

input[type="textarea"] {
  @extend input[type="text"];
  min-height: 120px;
  max-width:none;
}

input + label {
  display:inline-block;
  margin-left:10px;
}

select {
  @extend input[type="text"];
}

.select-style, .select2-container .select2-choice {
    padding: 0;
    margin: 0 0 $gutter 0;
    border: none;
    width: 100%;
    border-radius: 0;
    overflow: hidden;
    background-color: $color-gray-light;
    @include background-image('icon-arrow-down--dark',14px 8px);
    background-repeat:no-repeat;
    background-position:50% 90%;
    background-position:center right 15px;
    max-width:500px;

    select {
      @extend input[type="text"];
      width: 130%;
      box-shadow: none;
      background-color: transparent !important;
      background-image: none;
      margin:0;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      &:focus {
        outline: none;
      }
    }

      .select2-chosen {
        @include mq(bps) {
          @include font-size(14);
          padding: 10px 11px 9px;
        }
      }

      .select2-arrow {
        display:none;
      }

}

textarea {
  @extend input[type="text"];
  min-height: 120px;
  max-width:none;
  width: 100%;
  padding: $gutter / 2;
  margin-bottom: $gutter / 4;

  @include mq(bps) {
    min-height: 180px;
  }

  @include mq(bpl) {
    min-height: 220px;
  }

}

button {
  background-color:transparent;
  &:focus {
    outline:0;
  }
}

/*------------------------------------
Lists -------------------------
----------------------------------- */

ul,
ol {
  margin-bottom: $gutter;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul li,
ol li {
  list-style-position: inside;
}

/*---------------------------------
Tables -----------------------
-------------------------------- */

table {
  border:1px solid $color-gray-light;
  width:100%;
  th {
    padding:10px 8px;
  }
  td {
    border:1px solid $color-gray-light;
    padding:8px;
    &:nth-child(3) {
      width:50%;
    }
  }
}
